@media (min-width: 320px){

    .body_home {

        background-image: url(../../assets/mobile/background-home-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        padding: 24px;
    }

    .main_home {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 48px;
    }

    .spaceContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 81px;
    }
    
    .spaceContent_1 {
    
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
        color: var(--small-text-color);
    }
    
    .spaceContent_2 {
    
        font-family: 'Bellefair', sans-serif;
        font-size: 8rem;
        line-height: 10rem;
        color: white;
    }
    
    .spaceContent_3 {
    
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: var(--small-text-color);
    }

    .btnExplore {

        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        border: none;
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.125rem;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        transition: 300ms;
    }

    .btnExplore:hover {

        box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.3);

    }
}

@media (min-width: 768px){
    
    .body_home {
        
        background-image: url(../../assets/tablet/home/background-home-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        padding: 0 39px;
    }

    .spaceContent {

        margin-top: 106px;
        max-width: 450px;
        gap: 24px;
        margin-bottom: 156px;
    }

    .spaceContent_1 {

        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.3375rem;
    }

    .spaceContent_2 {

        font-size: 15rem;
        line-height: 15rem;
    }

    .spaceContent_3 {

        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .btnExplore {

        width: 242px;
        height: 242px;
        font-size: 3.2rem;
        line-height: 3.7rem;
        letter-spacing: 0.2rem;
        margin-bottom: 90px;
    }
}

@media (min-width: 1020px) {

    .body_home {
        
        background-image: url(../../assets/desktop/home/background-home-desktop.jpg);
        padding: 40px 55px 0 55px;
    }

    .main_home {
        
        display: flex;
        flex-direction: row;
        align-items: end;
        text-align: center;
        justify-content: space-between;
        margin-top: 121px;
        margin-left: calc(165px - 55px);
        margin-right: calc(165px - 55px);        
    }

    .spaceContent {
        
        margin-top: 0;
        width: 450px;
        gap: 24px;
        align-items: flex-start;
        text-align: left;
        margin: 0;
        margin-bottom: 131px;
    }

    .spaceContent_1 {

        text-align: left;
        font-size: 2.8rem;
        line-height: 3.4rem;
        letter-spacing: 0.4725rem;
    }

    .spaceContent_2 {

        text-align: left;
        font-size: 15rem;
        line-height: 17.2rem;
    }

    .spaceContent_3 {

        text-align: left;
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    .btnExplore {

        width: 274px;
        height: 274px;
        font-size: 3.2rem;
        line-height: 3.7rem;
        letter-spacing: 0.2rem;
        margin-bottom: 131px;
    }
}

@media (min-width: 1440px) {

    .body_home {
        
        background-image: url(../../assets/desktop/home/background-home-desktop.jpg);
        padding: 40px 55px 0 55px;
    }

    .main_home {
        
        display: flex;
        flex-direction: row;
        align-items: end;
        text-align: center;
        justify-content: space-between;
        margin-top: 251px;
        margin-left: calc(165px - 55px);
        margin-right: calc(165px - 55px);
    }

    .spaceContent {
        
        margin-top: 0;
        width: 450px;
        gap: 24px;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 131px;
    }

    .spaceContent_1 {

        text-align: left;
        font-size: 2.8rem;
        line-height: 3.4rem;
        letter-spacing: 0.4725rem;
    }

    .spaceContent_2 {

        text-align: left;
        font-size: 15rem;
        line-height: 17.2rem;
    }

    .spaceContent_3 {

        text-align: left;
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

    .btnExplore {

        width: 274px;
        height: 274px;
        font-size: 3.2rem;
        line-height: 3.7rem;
        letter-spacing: 0.2rem;
        margin-bottom: 131px;
    }
}

