@media (min-width: 320px){

    .body_home {

        background-image: url(../../assets/mobile/background-home-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        padding: 6.4vw;
    }

    .main_home {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 48px;
    }

    .spaceContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 81px;
    }
    
    .spaceContent_1 {
    
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 4.26vw;
        line-height: 5.06vw;
        letter-spacing: 0.72vw;
        color: var(--small-text-color);
    }
    
    .spaceContent_2 {
    
        font-family: 'Bellefair', sans-serif;
        font-size: 21.3vw;
        line-height: 26.6vw;
        color: white;
    }
    
    .spaceContent_3 {
    
        font-family: 'Barlow', sans-serif;
        font-size: 4vw;
        line-height: 6.6vw;
        text-align: center;
        color: var(--small-text-color);
    }

    .btnExplore {

        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        border: none;
        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 5.3vw;
        line-height: 6.13vw;
        letter-spacing: 0.3vw;
    }
}

@media (min-width: 768px){
    
    .body_home {
        
        background-image: url(../../assets/tablet/background-home-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        padding: 0 6.4vw 6.4vw 6.4vw;
    }

    .spaceContent {

        width: 450px;
        gap: 24px;
        margin-bottom: 156px;
    }

    .spaceContent_1 {

        font-size: 2.60vw;
        line-height: 3.12vw;
        letter-spacing: 0.43vw;
    }

    .spaceContent_2 {

        font-size: 19.53vw;
        line-height: 19.53vw;
    }

    .spaceContent_3 {

        font-size: 2.08vw;
        line-height: 3.64vw;
    }

    .btnExplore {

        width: 31.51vw;
        height: 31.51vw;
    }
}

@media (min-width: 1440px) {
    
    body {

        background-image: url(../../assets/desktop/background-home-desktop.jpg);
    }
}

