.avgDistance {
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.avgDistance span:first-child {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.73vw;
    line-height: 4.53vw;
    letter-spacing: 0.63vw;
    color: var(--small-text-color);
}

.avgDistance span:last-child {

    font-family: 'Bellefair', sans-serif;
    color: white;
    font-size: 7.46vw;
    line-height: 8.53vw;
}

.travelTime {

    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 58px;
}

.travelTime span:first-child {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.73vw;
    line-height: 4.53vw;
    letter-spacing: 0.63vw;
    color: var(--small-text-color);
}

.travelTime span:last-child {

    font-family: 'Bellefair', sans-serif;
    color: white;
    font-size: 7.46vw;
    line-height: 8.53vw;
}