@media (min-width: 320px) {
    .avg_travel {

        display: flex;
        flex-direction: column;
    }

    .avgDistance {
        
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 32px;
    }
    
    .avgDistance span:first-child {
    
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
        color: var(--small-text-color);
    }
    
    .avgDistance span:last-child {
    
        font-family: 'Bellefair', sans-serif;
        color: white;
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
    
    .travelTime {
    
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 58px;
    }
    
    .travelTime span:first-child {
    
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
        color: var(--small-text-color);
    }
    
    .travelTime span:last-child {
    
        font-family: 'Bellefair', sans-serif;
        color: white;
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}

@media (min-width: 768px) {
    
    .avg_travel {

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 11px;
        width: 100%;
    }

    .avgDistance {
        
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 28.64vw;
        margin-bottom: 0;
    }

    .avgDistance span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .avgDistance span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    .travelTime {
    
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 28.64vw;
        margin-bottom: 0;
    }

    .travelTime span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .travelTime span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}

@media (min-width: 1024px) {
    
    .avg_travel {

        gap: 5.48vw;
        width: 100%;
    }

    .avgDistance span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .avgDistance span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    .travelTime span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .travelTime span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}

@media (min-width: 1440px) {
    
    .avg_travel {

        gap: 5.48vw;
        width: 100%;
    }

    .avgDistance span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .avgDistance span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    .travelTime span:first-child {
    
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
    }

    .travelTime span:last-child {
    
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}