@media (min-width: 320px) {
    
    .starImage {
        
        width: 170px;
        height: 170px;
        margin-bottom: 26px;
    }
}

@media (min-width:768px) {
    
    .starImage {
        
        width: 300px;
        height: 300px;
        margin-bottom: 53px;
    }
}

@media (min-width: 1024px) {
    
    .starImage {
        
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    
    .starImage {
        
        width: 445px;
        height: 445px;
        margin-bottom: 0;
    }
}