@media (min-width: 320px) {
    
    .starImage {
        
        width: 45.3vw;
        height: 45.3vw;
        margin-bottom: 26px;
    }
}

@media (min-width:768px) {
    
    .starImage {
        
        width: 39.06vw;
        height: 39.06vw;
        margin-bottom: 53px;
    }
}

@media (min-width: 1440px) {
    
    .starImage {
        
        width: 30.90vw;
        height: 30.90vw;
        margin-bottom: 0;
    }
}