@media (min-width: 320px) {
    
    .h1_destination_1 {
    
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 4.266vw;
        font-weight: normal;
        font-style: normal;
        line-height: 5.066vw;
        letter-spacing: 0.72vw;
        color: white;
        margin-bottom: 32px;
    }
    
    .h1_destination_1 span {
        
        font-weight: bold;
        margin-right: 4.8vw;
        opacity: 0.25;
    }
}

@media (min-width: 768px) {
    
    .h1_destination_1 {
        
        width: 100%;
        text-align: left;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 2.60vw;
        font-weight: normal;
        font-style: normal;
        line-height: 3.125vw;
        letter-spacing: 0.43vw;
        color: white;
        margin-bottom: 60px;
    }

    .h1_destination_1 span {
    
        margin-right: 2.47vw;
        opacity: 0.25;
    }
}

@media (min-width: 1440px) {
    
    .h1_destination_1 {
        
        font-size: 1.94vw;
        line-height: 2.36vw;
        letter-spacing: 0.32vw;
        margin-bottom: 64px;
    }

    .h1_destination_1 span {
        
        margin-left: calc(11.56vw - 2.77vw);
        margin-right: 1.94vw;
        opacity: 0.25;
    }
}