@media (min-width: 320px) {

    .body_crew {

        background-image: url('../../assets/mobile/crew/background-crew-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 24px;
    }
    
    .main_crew {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 768px) {
    
    .body_crew {

        background-image: url('../../assets/tablet/crew/background-crew-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 0 39px;
    }

    .desktop_align_crew {
        
        display: flex;
        flex-direction: column;
    }

    .information_crew {

        display: flex;
        flex-direction: column-reverse;
        width: 59.63vw;
    }
}

@media (min-width: 1024px) {
    
    .body_crew {

        position: relative;
        background-image: url('../../assets/desktop/crew/background-crew-desktop.jpg');
        padding: 40px 55px 0 55px;
    }

    .main_crew {
    
        display: flex;
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .desktop_align_crew {
        
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: calc(154px - 64px);
    }

    .information_crew {

        width: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: calc(11.45vw - 55px);
        gap: 5.65vw;
        margin-bottom: 94px;
    }
}

@media (min-width: 1440px) {
    
    .body_crew {

        background-image: url('../../assets/desktop/crew/background-crew-desktop.jpg');
        padding: 40px 55px 0 55px;
    }

    .main_crew {
    
        display: flex;
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .desktop_align_crew {
        
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: calc(154px - 64px);
    }

    .information_crew {

        width: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: calc(11.45vw - 55px);
        gap: 5.65vw;
    }
}