@media (min-width: 320px) {

    .body_crew {

        background-image: url('../../assets/mobile/crew/background-crew-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 6.4vw;
    }
    
    .main_crew {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .container_people_img{
    
        width: 100%;
        height: 59.2vw;
        border-bottom: solid 1.3px #383B4B;
        margin-bottom: 32px;
    }
    
    .people_image {
    
        height: 100%;
    }
    
    .menu_crew {
    
        display: flex;
        justify-content: center;
        gap: 4.26vw;
        list-style: none;
        margin-bottom: 32px;
    }
    
    .menu_crew li {
    
        width: 2.6vw;
        height: 2.6vw;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 50%;
    }

    .menu_crew li.selected {

        background-color: white;
    }
    
    .people_information {
    
        display: flex;
        flex-direction: column;
        gap: 4.26vw;
    }
    
    .people_information div {
    
        font-family: 'Bellefair', sans-serif;
        color: white;
    }
    
    .people_function {
    
        font-size: 4.26vw;
        line-height: 4.8vw;
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 8px;
    }
    
    .people_name {
    
        font-size: 6.4vw;
        line-height: 7.46vw;
        text-transform: uppercase;
    }
    
    .people_description {
    
        font-size: 4vw;
        font-family: 'Barlow', sans-serif;
        line-height: 6.6vw;
        color: var(--small-text-color);
    }
}
