@media (min-width: 320px) {
    
    .body_technology {

        background-image: url('../../assets/mobile/technology/background-technology-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 6.4vw;
    }

    .main_technology {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .techImg {

        /* position: absolute;
        left: 0;
        margin-top: 75px; */
        width: calc(100% + 12.8vw);
        height: 45.3vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 34px;
    }

    .techImg.img_1 {

        background-image: url('../../assets/images/image-launch-vehicle-landscape.jpg');
    }

    .techImg.img_2 {

        background-image: url('../../assets/images/image-spaceport-landscape.jpg');
    }

    .techImg.img_3 {

        background-image: url('../../assets/images/image-space-capsule-landscape.jpg');
    }

    .menu_tech {

        display: flex;
        gap: 16px;
        list-style: none;
        margin-bottom: 26px;
    }

    .menu_tech li {

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bellefair', sans-serif;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 1px white;
        background-color: black;
        color: white;
    }

    .menu_tech li.selected {

        background-color: white;
        color: black;
    }

    .the_terminology {

        color: white;
        margin-bottom: 16px;
    }

    .the_terminology h2 {

        color: var(--small-text-color);
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 3.73vw;
        font-weight: normal;
        line-height: 4.53vw;
        text-align: center;
        letter-spacing: 0.63vw;
        margin-bottom: 9px;
    }

    .the_terminology h3 {

        font-family: 'Bellefair', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 6.4vw;
        line-height: 7.46vw;
        text-align: center;
        text-transform: uppercase;
    }

    .description {

        color: var(--small-text-color);
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        line-height: 6.6vw;
        text-align: center;
    }
}