@media (min-width: 320px) {
    
    .body_technology {

        background-image: url('../../assets/mobile/technology/background-technology-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 6.4vw;
    }

    .main_technology {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 768px) {
    
    .body_technology {

        background-image: url('../../assets/tablet/technology/background-technology-tablet.jpg');
        min-height: 100vh;
        padding: 0 6.4vw;
    }
}