@media (min-width: 320px) {
    
    .people_information {
        
        display: flex;
        flex-direction: column;
        gap: 4.26vw;
    }
    
    .people_information div {
    
        font-family: 'Bellefair', sans-serif;
        color: white;
    }
    
    .people_function {
    
        font-size: 4.26vw;
        line-height: 4.8vw;
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 8px;
    }
    
    .people_name {
    
        font-size: 6.4vw;
        line-height: 7.46vw;
        text-transform: uppercase;
    }
    
    .people_description {
    
        font-size: 4vw;
        font-family: 'Barlow', sans-serif;
        line-height: 6.6vw;
        color: var(--small-text-color);
    }
}

@media (min-width: 768px) {
    
    .people_function {
    
        font-size: 3.125vw;
        line-height: 3.64vw;
    }

    .people_name {
    
        font-size: 5.20vw;
        line-height: 5.98vw;
    }

    .people_description {
    
        font-size: 2.08vw;
        line-height: 3.64vw;
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px) {
    
    .people_information {
        
        display: flex;
        flex-direction: column;
        gap: 1.87vw;
        text-align: left;
    }

    .people_function {
    
        font-size: 2.22vw;
        line-height: 2.56vw;
    }

    .people_name {
    
        font-size: 3.88vw;
        line-height: 4.44vw;
    }

    .people_description {
        
        max-width: 30.83vw;
        min-height: 17.22vw;
        font-size: 1.25vw;
        line-height: 2.22vw;
    }
}