@media (min-width: 320px) {

    .body_destination {

        background-image: url(../../assets/mobile/destination/background-destination-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 6.4vw;
    }
    
    .main_destination {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    hr {
    
        width: 100%;
        border: none;
        background: #383B4B;
        height: 1px;
        margin-bottom: 32px;
    }
}

@media (min-width: 768px) {
    
    .body_destination {

        background-image: url(../../assets/tablet/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 0 6.4vw;
    }

    hr {
    
        width: 74.60vw;
        border: none;
        background: #383B4B;
        height: 1px;
        margin-bottom: 32px;
    }
}

@media (min-width: 1440px) {
    
    .body_destination {

        background-image: url(../../assets/desktop/destination/background-destination-desktop.jpg);
        min-height: 100vh;
        padding: 2.77vw 2.77vw 0 2.77vw;
    }

    .main_destination {

        align-items: normal;
    }

    .desktop_align_destination {

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10.90vw;
        width: 72.70vw;
        margin-left: calc(15.97vw - 2.77vw);
    }

    .desktop_align_destination div {

        width: 30.90vw;
        text-align: left;
    }

    hr {
    
        width: 100%;
        margin-bottom: 28px;
    }
}