@media (min-width: 320px) {
    
    .menu_crew {
        
        display: flex;
        justify-content: center;
        order: 1;
        gap: 4.26vw;
        list-style: none;
        margin-bottom: 32px;
    }

    .menu_crew li {
    
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 50%;
        cursor: pointer;
    }

    .menu_crew li:hover {

        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .menu_crew li.selected {
    
        background-color: white;
    }
}

@media (min-width: 768px) {
    
    .menu_crew {
        
        gap: 2.08vw;
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) {
    
    .menu_crew {
        
        order: 0;
        gap: 1.66vw;
        margin-bottom: 0;
    }

    .menu_crew li {
    
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 1440px) {
    
    .menu_crew {
        
        order: 0;
        gap: 1.66vw;
        margin-bottom: 0;
    }

    .menu_crew li {
    
        width: 15px;
        height: 15px;
    }
}