@media (min-width: 320px) {
    
    .destDescription {
        
        max-width: 378px;
        font-family: 'Barlow',sans-serif;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--small-text-color);
        margin-bottom: 32px;
    }
}

@media (min-width: 768px) {
    
    .destDescription {
        
        max-width: initial;
        width: 74.60vw;
        font-family: 'Barlow',sans-serif;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: var(--small-text-color);
        margin-bottom: 49px;
    }
}

@media (min-width: 1024px) {
    
    .destDescription {
        
        width: 100%;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin-bottom: 54px;
    }
}

@media (min-width: 1440px) {
    
    .destDescription {
        
        width: 100%;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin-bottom: 54px;
    }
}