
@media (min-width: 320px) and (max-width: 767.9px) {
    
    .header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.4rem;
    }
    
    .logo {
    
        width: 4rem;
        height: 4rem;
    }

    .header hr {

        display: none;
    }

    .hamburger {

        width: 2.4rem;
        height: 2.1rem;
    }
    
    .nav {
        
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 31.46vw;
        padding-left: 8.53vw;
        gap: 8.5333vw;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        -webkit-backdrop-filter: blur(81.5485);
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 4.26vw;
        line-height: 5.06vw;
        letter-spacing: 0.72vw;
        z-index: 5;
        transition: 600ms;
    }

    .nav.active {

        width: 67.73vw;
        visibility: visible;
    }
    
    .nav a {
        
        color: white;
    }
    
    .nav span {
    
        font-weight: bold;
        margin-right: 3.2vw;
    }
    
    .closeNav {
    
        position: absolute;
        top: 9.05vw;
        right: 7.05vw;
    }
}

@media (min-width: 768px) and (max-width: 1019.9px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 39px);
        height: 96px;
        margin-bottom: 40px;
    }
    
    .logo {
    
        width: 48px;
        height: 48px;
    }

    .header hr {

        display: none;
    }

    .hamburger {

        display: none;
    }
    
    .nav {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 37px;
        width: 58.59vw;
        height: 100%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        -webkit-backdrop-filter: blur(81.5485);
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.23625rem;
    }
    
    .nav a {
        
        position: relative;
        font-weight: normal;
        color: white;
    }

    .nav a::after {
        
        content: '';
        position: absolute;
        bottom: -40px;
        left: 0;
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        width: 0;
        transition: 300ms;
    }
    
    .nav a:hover::after {
        
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
        z-index: 0;
        width: 100%;
    }
    
    .nav a.selected::after {
        
        border-bottom: solid 2px white;
        z-index: 5;
        width: 100%;
    }
    
    .nav span {
    
        display: none;
    }
    
    .closeNav {
    
        display: none;
    }
}

@media (min-width: 1020px) and (max-width: 1439.9px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 55px);
        height: 96px;
        margin-bottom: 76px;
    }
    
    .logo {
    
        width: 48px;
        height: 48px;
    }

    .header hr {

        position: absolute;
        left: 167px;
        top: 88px;
        width: 32.84vw;
        height: 1px;
        background-color: white;
        opacity: 0.25;
        z-index: 5;
    }

    .hamburger {

        display: none;
    }
    
    .nav {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.33vw;
        width: 58.59vw;
        height: 100%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        -webkit-backdrop-filter: blur(81.5485);
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
    }
    
    .nav a {
        
        position: relative;
        font-weight: normal;
        color: white;
    }

    .nav a::after {
        
        content: '';
        position: absolute;
        bottom: -41px;
        left: 0;
        border-bottom: solid 2px white;
        border-radius: 2px;
        width: 0;
        transition: 300ms;
    }

    .nav a:hover::after {
        
        width: 100%;
    }

    .nav a.selected::after {
        
        border-bottom: solid 2px white;
        z-index: 5;
        width: 100%;
    }
    
    .nav span {
        
        font-weight: bold;
        margin-right: 0.76vw;
    }
    
    .closeNav {
    
        display: none;
    }
}

@media (min-width: 1440px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 55px);
        height: 96px;
        margin-bottom: 76px;
    }
    
    .logo {
    
        width: 48px;
        height: 48px;
    }

    .header hr {

        position: absolute;
        left: 167px;
        top: 88px;
        width: 32.84vw;
        height: 1px;
        background-color: white;
        opacity: 0.25;
        z-index: 5;
    }

    .hamburger {

        display: none;
    }
    
    .nav {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.33vw;
        width: 58.59vw;
        height: 100%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        -webkit-backdrop-filter: blur(81.5485);
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
    }
    
    .nav a {
        
        position: relative;
        font-weight: normal;
        color: white;
    }

    .nav a::after {
        
        content: '';
        position: absolute;
        bottom: -38px;
        left: 0;
        border-bottom: solid 2px white;
        border-radius: 2px;
        width: 0;
        transition: 300ms;
    }

    .nav a:hover::after {
        
        width: 100%;
    }
    
    .nav span {
        
        font-weight: bold;
        margin-right: 0.76vw;
    }
    
    .closeNav {
    
        display: none;
    }
}