@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');


:root {

  --small-text-color: #D0D6F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {

  font-size: 62.5%;
}

@media (min-width: 1020px) and (max-width: 1439.9px) {
  
  html {

    font-size: 50%;
  }
}