@media (min-width: 320px) {
    
    .destination_menu {
        
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 6.93vw;
        height: 28px;
        color: var(--small-text-color);
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.236rem;
        margin-bottom: 20px;
    }
    
    .destination_menu li {
        
        cursor: pointer;
        position: relative;
    }
    
    .destination_menu li::after {
    
        content: '';
        position: absolute;
        visibility: hidden;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: solid 2px rgba(255, 255, 255, 0.5);
        transition: 300ms;
    }
    
    .destination_menu li.selected::after {
        
        border-bottom: solid 2px white;
        width: 100%;
        visibility: visible;
    }
    
    .destination_menu li:hover::after {
    
        width: 100%;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    
    .destination_menu {
        
        display: flex;
        list-style: none;
        gap: 4.55vw;
        height: 34px;
        color: var(--small-text-color);
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
        margin-bottom: 47px;
    }
}

@media (min-width: 1024px) {
    
    .destination_menu {
        
        display: flex;
        justify-content: normal;
        list-style: none;
        gap: 2.5vw;
        height: 34px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
        margin-bottom: 52px;
    }
}

@media (min-width: 1440px) {
    
    .destination_menu {
        
        display: flex;
        justify-content: normal;
        list-style: none;
        gap: 2.5vw;
        height: 34px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
        margin-bottom: 52px;
    }
}