@media (min-width: 320px) {
    
    .destination_menu {
        
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 6.93vw;
        height: 7.46vw;
        color: var(--small-text-color);
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 3.73vw;
        line-height: 4.53vw;
        letter-spacing: 0.63vw;
        margin-bottom: 20px;
    }
    
    .destination_menu li {
        
        cursor: pointer;
        position: relative;
    }
    
    .destination_menu li::after {
    
        content: '';
        position: absolute;
        visibility: hidden;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: solid 2px white;
        transition: 300ms;
    }
    
    .destination_menu li.selected::after {
        
        width: 100%;
        visibility: visible;
    }
    
    .destination_menu li:hover::after {
    
        width: 100%;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    
    .destination_menu {
        
        display: flex;
        list-style: none;
        gap: 4.55vw;
        height: 4.42vw;
        color: var(--small-text-color);
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 2.08vw;
        line-height: 2.47vw;
        letter-spacing: 0.35vw;
        margin-bottom: 47px;
    }
}

@media (min-width: 1440px) {
    
    .destination_menu {
        
        display: flex;
        justify-content: normal;
        list-style: none;
        gap: 2.5vw;
        height: 2.36vw;
        font-size: 1.11vw;
        line-height: 1.31vw;
        letter-spacing: 0.18vw;
        margin-bottom: 52px;
    }
}